<!DOCTYPE html>
<html>
  <head>
    <title>Diffux-CI</title>
    <style type="text/css">
      * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
        -webkit-animation-duration: 0 !important;
        -moz-animation-duration: 0s !important;
        animation-duration: 0s !important;
      }
    </style>

    <% @config['stylesheets'].each do |stylesheet| %>
      <link rel="stylesheet" type="text/css"
        href="/resource?file=<%= ERB::Util.url_encode(stylesheet) %>">
    <% end %>
    <script src="/diffux_ci-runner.js"></script>
    <% @config['source_files'].each do |source_file| %>
      <script src="/resource?file=<%= ERB::Util.url_encode(source_file) %>"></script>
    <% end %>
  </head>
  <body style="background-color: #fff; margin: 0; pointer-events: none;">
  </body>
</html>
