<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Happo</title>

    <link rel="shortcut icon" href="<%= favicon %>" />

    <style type="text/css">
      * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;

        -webkit-animation-duration: 0 !important;
        -moz-animation-duration: 0s !important;
        animation-duration: 0s !important;

        -webkit-animation-play-state: paused !important;
        -moz-animation-play-state: paused !important;
        animation-play-state: paused !important;
      }

      body {
        background-color: #fff;
        margin: 0;
        <% if (debugMode) { %>
        /*
          We disable pointer events to prevent spurious diffs happening as a
          result of an accidental mouse hover (or click) in the browser
          window where happo is running.
         */
        pointer-events: none;
        <% } %>
      }
    </style>

    <% stylesheets.forEach(function(stylesheet) { %>
      <link rel="stylesheet" type="text/css"
        href="/resource?file=<%= encodeURIComponent(stylesheet) %>">
    <% }); %>

    <script src="/HappoRunner.bundle.js"></script>

    <% sourceFiles.forEach(function(sourceFile) { %>
      <script src="/resource?file=<%= encodeURIComponent(sourceFile) %>"></script>
    <% }); %>
  </head>

  <body>
  </body>
</html>
