<% require 'rack' %>
<!DOCTYPE html>
<html>
  <head>
    <title>Diffux-CI diffs</title>
  </head>
  <body>
    <h1>Diffux-CI diffs</h1>
    <p>File generated: <%= Time.now %></p>

    <% diff_images.each do |diff| %>
      <h3>
        <%= Rack::Utils.escape_html(diff[:description]) %> @ <%= diff[:viewport] %>
      </h3>
      <p><img src="<%= diff[:url] %>"></p>
    <% end %>
  </body>
</html>
