<!DOCTYPE html>
<html>
  <head>
    <title>Happo Debug Tool</title>
    <link rel="stylesheet" href="/happo-styles.css"></link>
    <script src="/happo-runner.js"></script>
    <% @config['source_files'].each do |source_file| %>
      <script src="/resource?file=<%= ERB::Util.url_encode(source_file) %>"></script>
    <% end %>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  </head>
  <body>
    <h1>Happo Debug Tool</h1>
    <p>Click on an item to render that example in isolation.</p>
    <script>
      (function() {
        var ul = $('<ul>');
        $('body').append(ul);
        $.each(happo.defined, function(_, example) {
          ul.append($('<li>').append(
            $('<a>', {
              href: '/?description=' + encodeURIComponent(example.description)
            }).text(example.description)
          ));
        });
      }());
    </script>
  </body>
</html>
